body {
	background-color: Linen;
}
.title {
	text-align: center;
}
div.navbar {
	text-align: center;
}
div.navbar button {
	display: inline;
	padding: 6px;
	margin: 0px;
}
div.content {

}
div.flexbox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
div.tierselect {
	display: flex;
	justify-content: center;
}
div.tagselect {
	display: flex;
	flex-direction: column;
}
@media only screen and (hover: none) and (pointer: coarse) {
	div.tagselect {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media only screen and (hover: none) and (pointer: coarse) {
	[title] {
		position: relative;
		display: inline-flex;
		justify-content: center;
	}
	[title]:focus::after {
		content: attr(title);
		position: absolute;
		top: 90%;
		color: #000;
		background-color: #fff;
		border: 1px solid;
		width: fit-content;
		padding: 3px;
	}
}

table.class {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: Ivory;
	margin-bottom: 8px;
}
td.classname {
	font-weight: bold;
	text-align: center;
}
td.classtype {
	font-weight: bold;
	text-align: center;
	font-style: italic;
}
td.classheaders {
	font-weight: bold;
}
td.classdata {
	
}
span.fTag {
	color: red;
	border-bottom: 1px dashed;
}

table.spell {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: Ivory;
}
table.spelltable {
	border: 2px solid transparent;
	border-collapse: collapse;
}
table.spelltable td {
	border: 2px solid transparent;
}
tr.spellbrief.tag-Functional-Deprecated {
	font-size: 0.8em;
	font-style: italic;
	background-color: #bbbbbb44;
}
tr.spellbrief.spell-Forbidden {
	background-color: #ffaa0044;
}
td.spellname {
	font-weight: bold;
	text-align: center;
}
td.spelltier {
	text-align: center;
	font-style: italic;
}
td.spellheaders {
	font-weight: bold;
}
td.spelltags {
	font-weight: bold;
	font-style: italic;
}
td.spelldata {

}
td.spelldesc {

}
input.spellname {
	font-weight: bold;
}
input.spelltier {
	font-style: italic;
}
input.spelldata {
	width: 100%;
}
textarea.spelldesc {
	width: 100%;
}
input.spelldesc {
	width: 100%;
}
input.spelltext {
	
}
td {
	padding-left: 12px;
}
.selector {
	width: auto;
}
.tierselect .selector {
	width: 20%;
}
.tagselect .selector {
	display: block;
}
.tagselect .selector img {
	width: 14px;
	padding-right: 2px;
}
.tagselect .selector div {
	display: inline;
}
.selector[value="1"] {
	background-color: Cyan;
}
.selector[value="2"] {
	background-color: Red;
}
button.compendium-donwload {
	display: block;
	margin: 0.5em auto;
	padding: 0.2em 1em;
}

#spell_creation {
	text-align: center;
}
#spell_parse {
	text-align: center;
}
#character_builder table {
	margin: auto;
	text-align: center;
}
