.selector.tag-Evocation>img {
    content:url(../assets/spells/corner-explosion.png);
}
.selector.tag-Conjuration>img {
    content:url(../assets/spells/orb-wand.png);
}
.selector.tag-Transmutation>img {
    content:url(../assets/spells/cycle.png);
}
.selector.tag-Abjuration>img {
    content:url(../assets/spells/magic-shield.png);
}
.selector.tag-Enchantment>img {
    content:url(../assets/spells/paranoia.png);
}
.selector.tag-Divination>img {
    content:url(../assets/spells/all-seeing-eye.png);
}
.selector.tag-Necromancy>img {
    content:url(../assets/spells/death-note.png);
}
.selector.tag-Physical>img {
    content:url(../assets/spells/strong.png);
}
.selector.tag-Fire>img {
    content:url(../assets/spells/burning-embers.png);
}
.selector.tag-Summoning>img {
    content:url(../assets/spells/cursed-star.png);
}
.selector.tag-Holy>img {
    content:url(../assets/spells/holy-grail.png);
}
.selector.tag-Arcane>img {
    content:url(../assets/spells/triple-yin.png);
}
.selector.tag-Eldritch>img {
    content:url(../assets/spells/warlock-eye.png);
}
.selector.tag-Illusion>img {
    content:url(../assets/spells/two-shadows.png);
}
.selector.tag-Water>img {
    content:url(../assets/spells/wave-crest.png);
}
.selector.tag-Fey>img {
    content:url(../assets/spells/star-cycle.png);
}
.selector.tag-Spirit>img {
    content:url(../assets/spells/spark-spirit.png);
}
.selector.tag-Unholy>img {
    content:url(../assets/spells/pentagram-rose.png);
}
.selector.tag-Wind>img {
    content:url(../assets/spells/whirlwind.png);
}
.selector.tag-Poison>img {
    content:url(../assets/spells/poison-bottle.png);
}
.selector.tag-Psychic>img {
    content:url(../assets/spells/psychic-waves.png);
}
.selector.tag-Radiant>img {
    content:url(../assets/spells/beams-aura.png);
}
.selector.tag-Beast>img {
    content:url(../assets/spells/bear-head.png);
}
.selector.tag-Cold>img {
    content:url(../assets/spells/ice-bolt.png);
}
.selector.tag-Earth>img {
    content:url(../assets/spells/rock.png);
}
.selector.tag-Lightning>img {
    content:url(../assets/spells/lightning-trio.png);
}
.selector.tag-Acid>img {
    content:url(../assets/spells/bubbling-flask.png);
}
.selector.tag-Plant>img {
    content:url(../assets/spells/oak.png);
}
.selector.tag-Shadow>img {
    content:url(../assets/spells/moon-claws.png);
}
.selector.tag-Space>img {
    content:url(../assets/spells/compass.png);
}
.selector.tag-Disease>img {
    content:url(../assets/spells/deathcab.png);
}
.selector.tag-Draconic>img {
    content:url(../assets/spells/spiked-dragon-head.png);
}
.selector.tag-Apocalyptic>img {
    content:url(../assets/spells/nuclear-bomb.png);
}
.selector.tag-Time>img {
    content:url(../assets/spells/time-trap.png);
}
.selector.tag-Universal>img {
    content:url(../assets/spells/magic-swirl.png);
}
.selector.tag-Familiar>img {
    content:url(../assets/spells/sitting-dog.png);
}
.selector.tag-Forbidden>img {
    content:url(../assets/spells/hazard-sign.png);
}
