#tag_Evocation>img {
    content:url(../assets/spells/corner-explosion.png);
}
#tag_Conjuration>img {
    content:url(../assets/spells/orb-wand.png);
}
#tag_Transmutation>img {
    content:url(../assets/spells/cycle.png);
}
#tag_Abjuration>img {
    content:url(../assets/spells/magic-shield.png);
}
#tag_Enchantment>img {
    content:url(../assets/spells/paranoia.png);
}
#tag_Divination>img {
    content:url(../assets/spells/all-seeing-eye.png);
}
#tag_Necromancy>img {
    content:url(../assets/spells/death-note.png);
}
#tag_Physical>img {
    content:url(../assets/spells/strong.png);
}
#tag_Fire>img {
    content:url(../assets/spells/burning-embers.png);
}
#tag_Summoning>img {
    content:url(../assets/spells/cursed-star.png);
}
#tag_Holy>img {
    content:url(../assets/spells/holy-grail.png);
}
#tag_Arcane>img {
    content:url(../assets/spells/triple-yin.png);
}
#tag_Eldritch>img {
    content:url(../assets/spells/warlock-eye.png);
}
#tag_Illusion>img {
    content:url(../assets/spells/two-shadows.png);
}
#tag_Water>img {
    content:url(../assets/spells/wave-crest.png);
}
#tag_Fey>img {
    content:url(../assets/spells/star-cycle.png);
}
#tag_Spirit>img {
    content:url(../assets/spells/spark-spirit.png);
}
#tag_Unholy>img {
    content:url(../assets/spells/pentagram-rose.png);
}
#tag_Wind>img {
    content:url(../assets/spells/whirlwind.png);
}
#tag_Poison>img {
    content:url(../assets/spells/poison-bottle.png);
}
#tag_Psychic>img {
    content:url(../assets/spells/psychic-waves.png);
}
#tag_Radiant>img {
    content:url(../assets/spells/beams-aura.png);
}
#tag_Beast>img {
    content:url(../assets/spells/bear-head.png);
}
#tag_Cold>img {
    content:url(../assets/spells/ice-bolt.png);
}
#tag_Earth>img {
    content:url(../assets/spells/rock.png);
}
#tag_Lightning>img {
    content:url(../assets/spells/lightning-trio.png);
}
#tag_Acid>img {
    content:url(../assets/spells/bubbling-flask.png);
}
#tag_Plant>img {
    content:url(../assets/spells/oak.png);
}
#tag_Shadow>img {
    content:url(../assets/spells/moon-claws.png);
}
#tag_Space>img {
    content:url(../assets/spells/compass.png);
}
#tag_Disease>img {
    content:url(../assets/spells/deathcab.png);
}
#tag_Draconic>img {
    content:url(../assets/spells/spiked-dragon-head.png);
}
#tag_Apocalyptic>img {
    content:url(../assets/spells/nuclear-bomb.png);
}
#tag_Time>img {
    content:url(../assets/spells/time-trap.png);
}
#tag_Universal>img {
    content:url(../assets/spells/magic-swirl.png);
}
#tag_Familiar>img {
    content:url(../assets/spells/sitting-dog.png);
}